server:
  port: 8080

spring:
  application:
    name: my-personal-page-backend
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/my_personal_page?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root

  data:
    redis:
      host: 127.0.0.1
      port: 6379
      database: 0
